.nav-bar {
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.nav__container {
    padding: 0rem 7rem;
}

.nav__logo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5954cb;
    font-weight: bold;
}

.navbar-light .navbar-toggler {
    border: none;
}

@media screen and (max-width: 768px) {
    .nav__container {
        padding: 0rem 1rem;
    }

    .navbar-light .navbar-nav .nav-link {
        padding-left: 1rem;
    }
}